<%= render "pages/navbar" %>
<main id="main">

            <!-- start page title section -->
            <section class="page-title section dark" style="background-color:#3296c9;">
                <div class="container">
                    <div class="row">
                        <div class="col-9">

                            <!-- start page title -->
                            <header class="section-header content-header">
                                <h1 class="title">Brainstorm Triggers</h1>
                                <p style="color:white;" class="subtitle lead">Use these to get your delegation juices flowing.</p>
                            </header>
                            <!-- end page title -->

                        </div>

                        <div class="col-27">
                            <!-- an empty space, you can add image or additional text here -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- end page title section -->

            <!-- start main content -->
            <section id="main-content" class="section light">

                <!-- start container -->
                <div class="container">

                    <!-- start section content -->
                    <div class="section-content row">
                    <h2>Professional Triggers</h2>
                        <ul>
                            <li>Projects started, not completed</li>
                            <li>Projects that need to be started</li>
                            <li>Commitments/promises to others</li>
                          <ul>
                            <li>Boss/partners</li>
                            <li>Colleagues</li>
                            <li>Subordinates</li>
                            <li>Other people in organization</li>
                            <li>&#8220;Outside&#8221; people</li>
                            <ul>
                              <li>Customers</li>
                              <li>Other organizations</li>
                              <li>Professionals</li>
                            </ul>
                          </ul>
                          <li>Initiate or respond to:
                            <ul>
                              <li>Phone calls</li>
                              <li>Voice-mail</li>
                              <li>E-mail</li>
                              <li>Pages</li>
                              <li>Faxes</li>
                              <li>Letters</li>
                              <li>Memos</li>
                            </ul>
                          </li>
                          <li>Other writing to finish/submit
                            <ul>
                              <li>Reports</li>
                              <li>Evaluations/reviews</li>
                              <li>Proposals</li>
                              <li>Articles</li>
                              <li>Promotional materials</li>
                              <li>Manuals/instructions</li>
                              <li>Rewrites and edits</li>
                            </ul>
                          </li>
                            <li>Meetings that need to be set/requested</li>
                            <li>Who needs to know about what decisions?</li>
                            <li>Significant read/review</li>
                            <li>Financial</li>
                          <ul>
                            <li>Cash flow</li>
                            <li>Statistics</li>
                            <li>Budgets</li>
                            <li>Forecasts/projections</li>
                            <li>P&amp;Ls</li>
                            <li>Balance sheet</li>
                            <li>Credit line</li>
                          </ul>
                          </li>
                          <li>Planning/organizing
                            <ul>
                            <li>Formal planning (goals, targets, objectives)</li>
                            <li>Current projects (next stages)</li>
                            <li>Upcoming projects</li>
                            <li>Business/marketing plans</li>
                            <li>Organizational initiatives o Upcoming events</li>
                            <li>Meetings</li>
                            <li>Presentations</li>
                            <li>Organizational structuring</li>
                            <li>Changes in facilities</li>
                            <li>Installation of new systems/equipment</li>
                            <li>Travel</li>
                            </ul>
                          </li>
                          <li>Banks
                          <ul>
                            <li>Receivables</li>
                            <li>Payables</li>
                          </ul>
                          </li>
                          <li>Administration
                            <ul>
                              <li>Legal issues</li>
                              <li>Insurance</li>
                              <li>Personnel</li>
                              <li>Policies/procedures</li>
                            </ul>
                          </li>
                          <li>Customers
                            <ul>
                              <li>Internal</li>
                              <li>External</li>
                            </ul>
                          </li>
                            <li>Marketing</li>
                            <li>Promotion</li>
                            <li>Sales
                          <ul>
                            <li>Customer service</li>
                          </ul>
                          </li>
                          <li>Systems
                          <ul>
                          <li>Phones</li>
                          <li>Computers</li>
                          <li>Office equipment</li>
                          <li>Other equipment</li>
                          <li>Utilities</li>
                          <li>Filing</li>
                          <li>Storage
                          <ul>
                          <li>Inventories</li>
                          </ul>
                          </li>
                          </ul>
                          </li>
                          <li>Supplies</li>
                          <li>Office/site
                          <ul>
                          <li>Office organization</li>
                          <li>Furniture</li>
                          <li>Decorations</li>
                          </ul>
                          </li>
                          <li>Waiting for&#8230;
                          <ul>
                          <li>Information</li>
                          <li>Delegated tasks/projects</li>
                          <li>Completions critical to projects o Replies to:
                          <ul>
                          <li>Letters</li>
                          <li>Memos</li>
                          <li>Calls</li>
                          <li>Proposals</li>
                          <li>Requisitions</li>
                          <li>Reimbursements</li>
                          <li>Petty cash</li>
                          <li>Insurance</li>
                          <li>Ordered items</li>
                          <li>Items being repaired</li>
                          <li>Tickets</li>
                          <li>Decisions of others</li>
                          </ul>
                          </li>
                          </ul>
                          </li>
                          <li>Professional development
                          <ul>
                          <li>Training/seminars</li>
                          <li>Things to learn</li>
                          <li>Things to look up</li>
                          <li>Skills to practice/learn especially re:computers</li>
                          <li>Tape/video training</li>
                          <li>Resumes</li>
                          </ul>
                          </li>
                          <li>Outside education</li>
                          <li>Research&#8211;need to find out about&#8230;</li>
                          <li>Professional wardrobe</li>
                        </ul>

                    <!-- end section content -->

                </div>
                <!-- end container -->
              </div>






              <div class="container">

                  <!-- start section content -->
                  <div class="section-content row">
                  <h4>Personal Triggers</h4>
<ul>
<li>Projects started, not completed</li>
<li>Projects that need to be started</li>
<li>Commitments/promises to others
<ul>
<li>Spouse</li>
<li>Children</li>
<li>Family</li>
<li>Friends</li>
<li>Professionals</li>
<li>Borrowed items</li>
</ul>
</li>
<li>Projects: other organizations
<ul>
<li>Service</li>
<li>Civic</li>
<li>Volunteer</li>
</ul>
</li>
<li>Communications to make/get
<ul>
<li>Family</li>
<li>Friends</li>
<li>Professional</li>
<li>Initiate or respond to:
<ul>
<li>Phone calls</li>
<li>Letters</li>
<li>Cards</li>
</ul>
</li>
</ul>
</li>
<li>Upcoming events
<ul>
<li>Special occasions</li>
<li>Birthdays</li>
<li>Anniversaries</li>
<li>Weddings</li>
<li>Graduations</li>
<li>Holidays</li>
<li>Travel</li>
<li>Weekend trips</li>
<li>Vacations</li>
<li>Social events</li>
<li>Cultural events</li>
<li>Sporting events</li>
</ul>
</li>
<li>R&amp;D&#8211;things to do
<ul>
<li>Places to go</li>
<li>People to meet/invite</li>
<li>Local attractions</li>
</ul>
</li>
<li>Administration
<ul>
<li>Financial
<ul>
<li>Bills</li>
<li>Banks</li>
<li>Investments</li>
<li>Loans</li>
<li>Taxes</li>
</ul>
</li>
<li>Insurance</li>
<li>Legal affairs</li>
<li>Filing</li>
</ul>
</li>
<li>Waiting for&#8230;
<ul>
<li>Mail order</li>
<li>Repair</li>
<li>Reimbursements</li>
<li>Loaned items</li>
<li>Medical data</li>
<li>RSVPs</li>
</ul>
</li>
<li>Home/household
<ul>
<li>Landlords</li>
<li>Property ownership
<ul>
<li>Legal</li>
<li>Real estate</li>
<li>Zoning</li>
<li>Taxes</li>
<li>Builders/contractors</li>
</ul>
</li>
<li>Heating/air-conditioning</li>
<li>Plumbing</li>
<li>Electricity</li>
<li>Roofing</li>
<li>Landscape</li>
<li>Driveway</li>
<li>Walls/floors/ceilings</li>
<li>Decoration</li>
<li>Furniture</li>
<li>Utilities</li>
<li>Appliances</li>
<li>Lightbulbs/wiring</li>
<li>Kitchen things</li>
<li>Washer/dryer/vacuum</li>
<li>Areas to organize/clean</li>
<li>TV</li>
<li>VCR/DVD</li>
<li>Music/CDs/tapes</li>
<li>Cameras/film</li>
<li>Phones</li>
<li>Answering machine</li>
<li>Sports equipment</li>
<li>Closets/clothes</li>
<li>Garage/storage</li>
<li>Vehicle repair/maintenance</li>
<li>Tools</li>
<li>Luggage</li>
<li>Pets</li>
</ul>
</li>
<li>Computers
<ul>
<li>Software</li>
<li>Hardware</li>
<li>Connections</li>
<li>CD-ROM</li>
<li>E-mail/Internet</li>
</ul>
</li>
<li>Health care
<ul>
<li>Doctors</li>
<li>Dentists</li>
<li>Specialists</li>
</ul>
</li>
<li>Hobbies
<ul>
<li>Books/records/tapes/disks</li>
</ul>
</li>
<li>Errands
<ul>
<li>Hardware store</li>
<li>Drugstore</li>
<li>Market</li>
<li>Bank</li>
<li>Cleaner</li>
<li>Stationer</li>
</ul>
</li>
<li>Community
<ul>
<li>Neighborhood</li>
<li>Schools</li>
<li>Local government</li>
</ul>
</li>
<li>Civic issues</li>
</ul>
</div>
<p>This trigger list retrieved from <a href="http://www.davidco.com">Getting Things Done</a>.</p>
</div>


                  </div>
                  <!-- end section content -->

              </div>
              <!-- end container -->
            </div>





            </section>
            <!-- end main content -->

        </main>
<%= render "pages/footer" %>
