<%= render "pages/navbar" %>
        <main id="main">

            <!-- start page title section -->
            <section class="page-title section dark" style="background-color:#3296c9;">
                <div class="container">
                    <div class="row">
                        <div class="col-9"></div>

                        <div class="col-27">
                            <!-- an empty space, you can add image or additional text here -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- end page title section -->

            <!-- start map section -->
            <section id="map" class="section light section-map"
            data-overlay="#FFFFFF"
            data-overlay-opacity="0.95">
                <div class="map" data-lat="40.77" data-lon="-111.8833" data-zoom="10" data-type="ROADMAP"></div>

                <div class="container">
                    <div class="section-content row">

                        <div class="col-12">
                            <h2>Careers</h2>
                            <br><br>
                            <h4>Amazing Administrative Assistant position</h4><br>

                            <p><strong>The Company</strong><br>
If you want to learn about how to actually make it as an entrepreneur instead of reading books or sitting in a class, this is the job you want.</p>

<p>In a nutshell, BackOffice is a super-human online assistant for business owners. You’ll get to see the inside of our customers, how they function, and get a real look at entrepreneurs who are making their own path.</p>

<p>We help them with their email, answer their phone calls, manage their projects, and communicate with their clients. It’s our job to think for them and save them as much time as possible. They trust us to help run their businesses, and they love us for it.</p>

<p>We work with lots of different types of companies. Here’s just a sample:<br>
- indie software developer in Canada<br>
- racing car axle manufacturer<br>
- wedding photographer<br>
- title loan company<br>
- VC-backed Mexican software company</p>

<p><strong>The Position</strong><br>
Your job is to get our clients’ stuff done, in a way that delights them. When they delegate to us, they should sigh with relief knowing that they can trust their BackOffice to get it done.</p>

<p>You will work in Trello, Basecamp, Podio, 3dCart, Bluehost, and other services. You don&#8217;t have to know about those yet, but you do need to be a web &#8220;native&#8221; and be able to figure out stuff online <em>fast</em>.</p>

<p>Flexibility and the ability to deal with ambiguity are mandatory.</p>

<p>Skills you need to have to thrive in this position:<br>
- Humility and willingingness to learn<br>
- Happy when dealing with ambiguity<br>
- Flexible to a fault<br>
- Great writing skills (think clear and concise, not fluff to fill a 5-page college paper)</p>

<p>We work in Salt Lake City. It&#8217;s preferred that you live within 50 miles of SLC, but not required. You can work remotely. If you&#8217;re in that 50 mile radius, once a week you&#8217;ll come into the office to work with the rest of the team and have lunch on BackOffice.</p>

<p>Send your resume and 200&#8211;350 words describing your career goals to trevor@trybackoffice.com (The goals don’t have to be related to this job… we just want to get to know you and learn how we can help.)</p>

                        </div>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>

                </div>

            </section>

        </main>
<%= render "pages/footer" %>
