<%= render "pages/navbar" %>
<main id="main">

            <!-- start page title section -->
            <section class="page-title section dark" style="background-color:#3296c9;">
                <div class="container">
                    <div class="row">
                        <div class="col-9">
                        </div>

                        <div class="col-27">
                            <!-- an empty space, you can add image or additional text here -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- end page title section -->

            <!-- start section -->
            <section class="section light">

                <!-- start container -->
                <div class="container">

                    <!-- start section content -->

                    <!-- end section content -->

                    <!-- start section content -->



                </div>
                <!-- end container -->

            </section>

            <section class="section light">

                <!-- start container -->
                <div class="container">

                    <!-- start section content -->
                    <div class="section-content">
                        <div class="row">
                            <div class="col-12">

                              <div id="wufoo-zhm7yzi0a1t47i">
                                  Fill out my <a href="https://limpiemos.wufoo.com/forms/zhm7yzi0a1t47i">online form</a>.
                              </div>
                                <script type="text/javascript">var zhm7yzi0a1t47i;(function(d, t) {
                                  var s = d.createElement(t), options = {
                                  'userName':'limpiemos',
                                  'formHash':'zhm7yzi0a1t47i',
                                  'autoResize':true,
                                  'height':'438',
                                  'async':true,
                                  'host':'wufoo.com',
                                  'header':'show',
                                  'ssl':true};
                                  s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                                  s.onload = s.onreadystatechange = function() {
                                  var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                                  try { zhm7yzi0a1t47i = new WufooForm();zhm7yzi0a1t47i.initialize(options);zhm7yzi0a1t47i.display(); } catch (e) {}};
                                  var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                                  })(document, 'script');
                                </script>

                            </div>

                            <div class="col-24">
                                <h4>Main Office</h4>
                                <address>
                                    <span>856 Cedar Pine Court Ste. 20</span><br>
                                    <span>Salt Lake City, UT 84106</span><br>
                                    <span><a href="mailto:contact@casanova.co.id">sayhi@casanova.co.id</a></span>
                                </address>

                            </div>
                        </div>
                    </div>
                    <!-- end section content -->

                </div>
                <!-- end container -->

            </section>
            <!-- end section -->

        </main>
<%= render "pages/footer" %>
