<%= render "pages/navbar" %>
        <main id="main">
            <!-- start page title section -->
            <section class="page-title section dark" style="background-color:#3296c9;">
                <div class="container">
                    <div class="row">
                        <div class="col-9">
                            <!-- start page title -->
                            <header class="section-header content-header">
                                <h1 class="title">How Other People Use BackOffice</h1>
                                <p style="color:white;">A quick sample of things we've recently done for our customers.</p>
                            </header>
                            <!-- end page title -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- end page title section -->

            <!-- start section -->
            <section class="section light">

                <!-- start container -->
                <div class="container">

                    <!-- start section content -->
                    <div class="section-content">

                        <div class="row">

                            <div class="col-20">

                                <div class="iconboxes">
                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Researched, interviewed, and found a bookkeeper</h4>
                                            <p>"Find a local bookkeeper who is relatively inexpensive. I only need monthly financial statements and someone to file my sales tax. I already do my own taxes."</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Setup a Wordpress installation and customized a themed site</h4>
                                            <p>"Could you redo my website? That has been on my mind a lot lately. If that is in your toolbox that would be very helpful to me!"</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Researched which customers were past due</h4>
                                            <p>"Reconcile invoiced accounts to determine who is past due."</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Hand wrote, addressed, and mailed over 80 thank you cards</h4>
                                            <p>"Please write thank you cards to all of our newest customers."</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Called competitors to do market research</h4>
                                            <p>"Call 10 of my local competitors and get their rates compared to us. Then, make a graph and post it on our website comparing our rates to theirs."</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Wrote list of blog article titles for post ideas</h4>
                                            <p>"Brainstorm a bunch of blog post article titles"</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Wrote and published company blog posts</h4>
                                            <p>"Could you write the posts for the titles you've brainstormed?"</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Researched healthcare plans</h4>
                                            <p>"Research business health insurance with Avenue H to see what kind of options we might have."</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Researched cell phone and mifi plans</h4>
                                            <p>"Determine best "mifi" plans. Needs to be a device that can broadcast a small wireless network for multiple devices to connect to."</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Connected with a <i>lot</i> of people on social media</h4>
                                            <p>"Go through the full directory of current customers, new leads, tradeshow contacts, and connect with them on social networks, like their pages, etc."</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Booked travel arrangements</h4>
                                            <p>"Please book my flights to California at the given date and time with my favorite airline."</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Printed and mailed contracts to company partners</h4>
                                            <p>"Print and mail these to the addresses noted in the contracts."</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Submit pictures to online photography contests</h4>
                                            <p>"Find contests online and submit my work."</p>
                                        </div>
                                    </aside><br>

                                </div>
                            </div>
                        </div>
                    </div>
            </section>
        </main>
        <%= render "pages/footer" %>
