<%= render "pages/navbar" %>
        <main id="main">
            <!-- start page title section -->
            <section class="page-title section dark" style="background-color:#3296c9;">
                <div class="container">
                    <div class="row">
                        <div class="col-9">
                            <!-- start page title -->
                            <header class="section-header content-header">
                                <h1 class="title">How Other People Use BackOffice</h1>
                                <p style="color:white;">A quick sample of things we've done for clients the past week.</p>
                            </header>
                            <!-- end page title -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- end page title section -->

            <!-- start section -->
            <section class="section light">

                <!-- start container -->
                <div class="container">

                    <!-- start section content -->
                    <div class="section-content">

                        <div class="row">

                            <div class="col-20">
                                <!-- <header class="content-header v3">
                                    <h2>The Industry Leader</h2>
                                </header> -->

                                <div class="iconboxes">
                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Researched, interviewed, and found a bookkeeper</h4>
                                            <p>"Find a local bookkeeper who is relatively expense. I only need monthly financial statements and someone to file my sales tax. I already do my own taxes."</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Setup a Wordpress installation and customized a themed site</h4>
                                            <p>"Could you redo my website? That has been on my mind a lot lately. If that is in your toolbox that would be very helpful to me!"</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Researched which customers were past due</h4>
                                            <p>"Reconcile invoiced accounts to determine who is past due."</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Hand wrote, addressed, and mailed over 80 thank you cards</h4>
                                            <p>"Please write thank you cards to all of our newest customers."</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Called competitors to do market research</h4>
                                            <p>"Call 10 of my local competitors and get their rates compared to us. Then, make a graph and post it on our website comparing our rates to theirs."</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Wrote list of blog article titles for post ideas</h4>
                                            <p>"Brainstorm a bunch of blog post article titles"</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Wrote and published company blog posts</h4>
                                            <p>"Could you write the posts for the titles you've brainstormed?"</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Researched healthcare plans</h4>
                                            <p>"Research business health insurance with Avenue H to see what kind of options we might have."</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Researched cell phone and mifi plans</h4>
                                            <p>"Determine best "mifi" plans. Needs to be a device that can broadcast a small wireless network for multiple devices to connect to."</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Connected with a <i>lot</i> of people on social media</h4>
                                            <p>"Go through the full directory of current customers, new leads, tradeshow contacts, and connect with them on social networks, like their pages, etc."</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Booked travel arrangements</h4>
                                            <p>Please book my flights to California at the given date and time with my favorite airline.</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Printed and mailed contracts to company partners</h4>
                                            <p>"Print and mail these to the addresses noted in the contracts."</p>
                                        </div>
                                    </aside><br>

                                    <aside class="iconbox text-left">
                                        <div class="icon circle primary">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="iconbox-content">
                                            <h4 class="title">Submit pictures to online photography contests</h4>
                                            <p>"Find contests online and submit my work."</p>
                                        </div>
                                    </aside><br>


                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end section content -->

                    <!-- start section content -->
                    <!-- <div class="section-content">
                        <div class="row">

                            <div class="col-27">
                                <header class="content-header v3">
                                    <h3>Our Benefits</h3>
                                </header>

                                <dl class="accordion">
                                    <dt class="accordion-trigger active">Professional</dt>
                                    <dd class="accordion-content active">
                                        <p>Lorem ipsum Aliquip quis id dolore occaecat dolore sint labore adipisicing veniam consequat officia.</p>
                                    </dd>

                                    <dt class="accordion-trigger">Expert</dt>
                                    <dd class="accordion-content">
                                        <p>Lorem ipsum Aliquip quis id dolore occaecat dolore sint labore adipisicing veniam consequat officia.</p>
                                    </dd>

                                    <dt class="accordion-trigger">Delivery</dt>
                                    <dd class="accordion-content">
                                        <p>Lorem ipsum Aliquip quis id dolore occaecat dolore sint labore adipisicing veniam consequat officia.</p>
                                    </dd>
                                </dl>
                            </div>

                            <div class="col-18">
                                <header class="content-header v3">
                                    <h3>Our Work Process</h3>
                                </header>

                                <div class="tabs horizontal">
                                    <nav class="tabnav nav">
                                        <ul>
                                            <li class="active"><a href="#">Planning</a></li>
                                            <li><a href="#">Working</a></li>
                                            <li><a href="#">Finishing</a></li>
                                        </ul>
                                    </nav>

                                    <div class="tab">
                                        <p>Lorem ipsum Occaecat occaecat Duis dolore sint enim quis ut officia commodo mollit nulla id proident adipisicing veniam enim laborum sed Ut nostrud sunt exercitation aliqua dolor exercitation anim irure ullamco .</p>

                                        <p>Nostrud nulla qui nostrud est quis dolore cillum nisi nostrud ad ut in ex in fugiat cillum pariatur commodo exercitation dolor consectetur aliqua reprehenderit do ea eu Ut nostrud qui aliquip laborum sit dolor nostrud fugiat proident id dolore tempor dolor proident dolore magna.</p>
                                    </div>

                                    <div class="tab">
                                        <p>Lorem ipsum Occaecat occaecat Duis dolore sint enim quis ut officia commodo mollit nulla id proident adipisicing veniam enim laborum sed Ut nostrud sunt exercitation aliqua dolor exercitation anim irure ullamco .</p>

                                        <p>Nostrud nulla qui nostrud est quis dolore cillum nisi nostrud ad ut in ex in fugiat cillum pariatur commodo exercitation dolor consectetur aliqua reprehenderit do ea eu Ut nostrud qui aliquip laborum sit dolor nostrud fugiat proident id dolore tempor dolor proident dolore magna.</p>
                                    </div>

                                    <div class="tab">
                                        <p>Lorem ipsum Occaecat occaecat Duis dolore sint enim quis ut officia commodo mollit nulla id proident adipisicing veniam enim laborum sed Ut nostrud sunt exercitation aliqua dolor exercitation anim irure ullamco .</p>

                                        <p>Nostrud nulla qui nostrud est quis dolore cillum nisi nostrud ad ut in ex in fugiat cillum pariatur commodo exercitation dolor consectetur aliqua reprehenderit do ea eu Ut nostrud qui aliquip laborum sit dolor nostrud fugiat proident id dolore tempor dolor proident dolore magna.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-27">
                                <header class="content-header v3">
                                    <h3>Our Best Skills</h3>
                                </header>

                                <div class="progress-bar stripped animate">
                                    <div class="label clearfix">
                                        <span class="left">Web Design</span>
                                        <span class="right"></span>
                                    </div>
                                    <div class="bar" data-width="75"><div></div></div>
                                </div>

                                <div class="progress-bar stripped animate">
                                    <div class="label clearfix">
                                        <span class="left">Branding</span>
                                        <span class="right"></span>
                                    </div>
                                    <div class="bar" data-width="65"><div></div></div>
                                </div>

                                <div class="progress-bar stripped animate">
                                    <div class="label clearfix">
                                        <span class="left">Consulting</span>
                                        <span class="right"></span>
                                    </div>
                                    <div class="bar" data-width="80"><div></div></div>
                                </div>

                                <div class="progress-bar stripped animate">
                                    <div class="label clearfix">
                                        <span class="left">Marketing</span>
                                        <span class="right"></span>
                                    </div>
                                    <div class="bar" data-width="65"><div></div></div>
                                </div>

                                <div class="progress-bar stripped animate">
                                    <div class="label clearfix">
                                        <span class="left">Programming</span>
                                        <span class="right"></span>
                                    </div>
                                    <div class="bar" data-width="95"><div></div></div>
                                </div>
                            </div>

                        </div>

                    </div> -->
                    <!-- end section content -->

                </div>
                <!-- end container -->

            </section>
            <!-- end section -->

            <!-- start section -->

            <!-- end section -->

            <!-- start section -->

            <!-- end section -->

            <!-- start section -->

            <!-- end section -->

        </main>
        <!-- end main -->

        <!-- start footer -->
        <footer id="site-footer">

            <!-- start footer widgets area -->
            <section id="footer-widgets" class="section dark">

                <!-- start container -->
                <div class="container">

                    <!-- start section content -->
                    <div class="section-content row">

                        <!-- start footer widget area 1 -->
                        <div class="col-27">
                            <aside class="widget">
                                <p><img src="img/logo-light.png" alt="casanova"></p>
                                <p>Lorem ipsum Pariatur ut aute mollit commodo sint excepteur nulla duis qui officia ad magna in tempor. <a href="about.html">More &rarr;</a></p>

                                <address>
                                    <strong>Casanova Media, PT</strong><br>
                                    <span>123 Cikalong Town, West Bandung</span><br>
                                    <span>West Java, Indonesia 40556</span><br>
                                    <abbr title="Telephone">P</abbr>: +62 1234 5678 90<br>
                                    <abbr title="Telephone">E</abbr>: <a href="mailto:contact@casanova.co.id">contact@casanova.co.id</a>
                                </address>
                            </aside>
                        </div>
                        <!-- start footer widget area 1 -->

                        <!-- start footer widget area 2 -->
                        <div class="col-27">
                            <aside class="widget">
                                <div class="content-header widget-header v3">
                                    <h4>Popular Posts</h4>
                                </div>

                                <ul class="post-list">
                                    <li class="clearfix">
                                        <div class="details">
                                            <h5 class="title"><a href="post.html" rel="bookmark">Incididunt occaecat officia nostrud ullamco officia.</a></h5>
                                            <div class="meta">December 27, 2013</div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="details">
                                            <h5 class="title"><a href="post.html" rel="bookmark">Aliqua sunt dolore pariatur et quis non ex ad in dolore officia.</a></h5>
                                            <div class="meta">December 26, 2013</div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="details">
                                            <h5 class="title"><a href="post.html" rel="bookmark">Consectetur magna dolor tempor elit occaecat in commodo.</a></h5>
                                            <div class="meta">December 25, 2013</div>
                                        </div>
                                    </li>
                                </ul>
                            </aside>
                        </div>
                        <!-- start footer widget area 2 -->

                        <!-- start footer widget area 3 -->
                        <div class="col-27">
                            <aside class="widget">
                                <div class="content-header widget-header v3">
                                    <h4>Twitter Feeds</h4>
                                </div>

                                <div class="tweets" data-username="nettuts" data-count="2"></div>
                            </aside>
                        </div>
                        <!-- start footer widget area 3 -->

                        <!-- start footer widget area 4 -->
                        <div class="col-27">
                            <aside class="widget">
                                <div class="content-header widget-header v3">
                                    <h4>Tags Cloud</h4>
                                </div>

                                <div class="tags clearfix">
                                    <a href="#" class="button primary small">animate</a>
                                    <a href="#" class="button primary small">apps</a>
                                    <a href="#" class="button primary small">design</a>
                                    <a href="#" class="button primary small">development</a>
                                    <a href="#" class="button primary small">entertainment</a>
                                    <a href="#" class="button primary small">ghost</a>
                                    <a href="#" class="button primary small">html</a>
                                    <a href="#" class="button primary small">photoshop</a>
                                    <a href="#" class="button primary small">themes</a>
                                    <a href="#" class="button primary small">wordpress</a>
                                </div>
                            </aside>
                        </div>
                        <!-- start footer widget area 4 -->

                    </div>
                    <!-- end section content -->

                </div>
                <!-- end container -->

            </section>
            <!-- end footer widgets area -->

            <!-- start footer bottom -->
            <section id="footer-bottom" class="section dark">

                <!-- start container -->
                <div class="container">

                    <!-- start row -->
                    <div class="row">

                        <!-- start copyright -->
                        <div class="col-18">
                            <p class="copyright">
                                &copy; Casanova. Designed &amp; developed by <a href="http://www.kingthemes.com">King Themes</a>
                            </p>
                        </div>
                        <!-- end copyright -->

                        <!-- start footer nav -->
                        <div class="col-18">
                            <nav id="footer-nav" class="nav horizontal text-right">
                                <ul>
                                    <li><a href="index.html" title="Home">Home</a></li>
                                    <li><a href="#">Features</a></li>
                                    <li><a href="projects.html">Portfolio</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="about.html">About</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- end footer nav -->

                    </div>
                    <!-- end row -->

                </div>
                <!-- end container -->

            </section>
            <!-- end footer bottom -->

        </footer>
        <!-- end footer -->

        <!-- place scripts at the end of body for better performance -->
        <script type="text/javascript" src="src/maplace/maplace.min.js"></script>
        <script type="text/javascript" src="src/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="src/isotope/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="src/bxslider/jquery.bxslider.min.js"></script>
        <script type="text/javascript" src="src/hoverdir/jquery.hoverdir.min.js"></script>
        <script type="text/javascript" src="src/slicknav/jquery.slicknav.min.js"></script>
        <script type="text/javascript" src="src/appear/jquery.appear.js"></script>
        <script type="text/javascript" src="src/countup/countUp.min.js"></script>
        <script type="text/javascript" src="src/twitter/jquery.tweet.js"></script>
        <script type="text/javascript" src="src/easypiechart/jquery.easypiechart.min.js"></script>
        <script type="text/javascript" src="src/sticky/jquery.sticky.js"></script>
        <script type="text/javascript" src="src/tooltipster/jquery.tooltipster.min.js"></script>
        <script type="text/javascript" src="src/swipebox/jquery.swipebox.min.js"></script>

        <script type="text/javascript" src="js/casanova.menu.js"></script>
        <script type="text/javascript" src="js/casanova.accordion.js"></script>
        <script type="text/javascript" src="js/casanova.tabs.js"></script>
        <script type="text/javascript" src="js/casanova.fitmedia.js"></script>
        <script type="text/javascript" src="js/casanova.js"></script>
        <script type="text/javascript" src="js/init.js"></script>
    </body>
</html>
