<%= render "pages/navbar" %>
        <main id="main">

            <!-- start page title section -->
            <section class="page-title section dark" style="background-color:#3296c9;">
                <div class="container">
                    <div class="row">
                        <div class="col-9"></div>

                        <div class="col-27">
                            <!-- an empty space, you can add image or additional text here -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- end page title section -->

            <!-- start map section -->
            <section id="map" class="section light section-map"
            data-overlay="#FFFFFF"
            data-overlay-opacity="0.9">
                <div class="map" data-lat="40.77" data-lon="-111.8833" data-zoom="10" data-type="ROADMAP"></div>

                <div class="container">
                    <div class="section-content row">

                        <div class="col-12">
                            <h2>We're hiring!</h2>
                            <br><br>
                            <h4><a target="blank" href="https://www.ziprecruiter.com/job/Amazing-Administrative-Assistant/ac6701a4/">Amazing Administrative Assistant</a></h4>
                        </div>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>

                </div>

            </section>

        </main>
<%= render "pages/footer" %>
