<%= render "pages/navbar" %>

<main id="main">


<section class="page-title section dark" style="background-color:#3296c9;">
    <div class="container">
        <div class="row">
            <div class="col-9">
              <header class="section-header content-header">
                  <h1 class="title">Request an invite</h1>
                  <p style="color:white;" class="subtitle lead">To keep the quality of our services as high as possible, Casanova is invite only</b>.<br> Please give us your email (or get an invite from a friend) and we'll reach out when there's availability.</p>
              </header>
            </div>

            <div class="col-27">
                <!-- an empty space, you can add image or additional text here -->
            </div>
        </div>
    </div>
</section>


            <!-- start map section -->
            <section id="map" class="section light">

                <!-- start container -->
                <div class="container">

                    <!-- start section content -->
                    <div class="section-content">

                    <div id="wufoo-maivgu81svdt70">
Fill out my <a href="https://salemsoftware.wufoo.com/forms/maivgu81svdt70">online form</a>.
</div>
<script type="text/javascript">var maivgu81svdt70;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'salemsoftware',
'formHash':'maivgu81svdt70',
'autoResize':true,
'height':'320',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { maivgu81svdt70 = new WufooForm();maivgu81svdt70.initialize(options);maivgu81svdt70.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>


                    </div>
                    <!-- end section content -->

                </div>
                <!-- end container -->

            </section>
            <!-- end map section -->

        </main>

<%= render "pages/footer" %>
