<footer id="site-footer">
  <!-- start footer bottom -->
  <section id="footer-bottom" class="section dark">

      <!-- start container -->
      <div class="container">

          <!-- start row -->
          <div class="row">

              <!-- start copyright -->
              <div class="col-18">
                  <p class="copyright">
                      &copy; BackOffice
                  </p>
              </div>
              <!-- end copyright -->

              <!-- start footer nav -->
              <div class="col-18">
                  <nav id="footer-nav" class="nav horizontal text-right">
                    <ul class="dropdown">
                          <li><a href="index.html">Home</a></li>
                          <li><a href="faqs.html">FAQ</a></li>
                          <li><a href="what-we-do.html">What We Do</a></li>
                          <li><a href="pricing.html">Pricing</a></li>
                          <li><a href="contact.html">Contact Us</a></li>
                      </ul>
                  </nav>
              </div>

              <!-- end footer nav -->

          </div>
          <!-- end row -->

      </div>
      <!-- end container -->

  </section>
  <!-- end footer bottom -->
</footer>
